body {
    background-color: lightskyblue;
    font-family: sans-serif;
}

header {
    color: fuchsia;
    text-align: center;
    font-style: oblique;
}

h1 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 23px;
}

p {
    color: black;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    border: 5px solid whitesmoke;
    border-radius: 10px;
}

a {
    color: white;
}