body, html {
    background-color: #000;
    font-family: monospace;
    font-size: 16px;
}

div {
    width: auto;
    height: auto;
    box-align: center;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

header {
    color: rgb(0, 255, 100);
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
}

h1 {
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
}

p {
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    border: 5px solid #fff;
    border-radius: 10px;
}

img {
    padding: 10px 10px 10px 10px;
}

a {
    color: rgb(0, 200, 255);
}

a:hover {
    color: rgb(255, 0, 0)
}

.tablink {
    width: auto;
    height: auto;
    background-color: #fff;
}

.tab button {
    background-color: rgb(50, 255, 200);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    font-size: 18px;
    color: #000;
}

.tab button:hover {
    background-color: #fff;
}