html, body {
    background: linear-gradient(90deg, rgba(0, 128, 0, 0.66),rgba(0, 0, 0, 0.66),rgba(128, 0, 128, 0.66));
    background-size: 500% 500%;
	animation: Gradient 60s ease infinite;
    font-family: monospace;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

div {
    width: auto;
    height: auto;
    padding: 10px;
    box-align: center;
}

header {
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #000;
}

h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}

p {
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.33),rgba(255, 255, 255, 0.33),rgba(0, 0, 255, 0.33));
	background-size: 250% 250%;
    animation: Gradient 60s ease infinite;
    padding: 15px;
    border: 3px solid #fff;
    border-radius: 15px;
    font-size: 14px;
    -webkit-text-fill-color: #000;
    animation: Gradient 30s ease infinite;
}

.glow-on-hover {
    outline: none;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@keyframes Gradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

img {
    padding: 5px;
}

a {
    color: rgb(0, 200, 255);
}

a:hover {
    color: rgb(255, 0, 0)
}

.tablink {
    width: auto;
    height: auto;
    outline: none;
    border: none;
}

button {
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #000
}

#sketch {
    margin: 10px;
    border: 5px solid;
    display: inline;
}