:root {
  --p-bg-color: rgba(69, 69, 69, 0.6);
  --bg-color-primary: #548f6f;
  --bg-color-secondary: #254132;
}

.App {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  max-width: 80vw;
  width: clamp(333px, 80%, 999px);
  text-align: center;
  align-items: center;
  justify-content: center;
}

html {
  /* background: -webkit-gradient(linear, left top, right top, from(rgba(0, 128, 0, 0.66)), color-stop(rgba(0, 0, 0, 0.66)), to(rgba(128, 0, 128, 0.66)));
  background: linear-gradient(90deg, rgba(0, 128, 0, 0.66), rgba(0, 0, 0, 0.66), rgba(128, 0, 128, 0.66));
  background-size: 500% 500%;
  -webkit-animation: Gradient 60s ease infinite;
          animation: Gradient 60s ease infinite; */
  background: var(--bg-color-primary);
  font-family: monospace;
  font-size: calc(1vw + 0.5rem);
  color: white;
}

/* header {

} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  white-space: nowrap;
  font-weight: bold;
  font-size: 2.6rem;
  padding: 5px;
}

h2 {
  white-space: nowrap;
  font-weight: bold;
  font-style: italic;
  font-size: 1rem;
}

p {
  /* background: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.33)), color-stop(rgba(255, 255, 255, 0.33)), to(rgba(0, 0, 255, 0.33)));
  background: linear-gradient(90deg, rgba(255, 0, 0, 0.33), rgba(255, 255, 255, 0.33), rgba(0, 0, 255, 0.33));
  background-size: 250% 250%;
  -webkit-animation: Gradient 60s ease infinite;
          animation: Gradient 60s ease infinite; */
  background: var(--p-bg-color);
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  /* -webkit-text-fill-color: white;
  -webkit-animation: Gradient 30s ease infinite;
          animation: Gradient 30s ease infinite; */
}

ul.nobullet {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.nobullet-nows {
  list-style-type: none;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

img {
  padding: 5px;
}

video {
  width: 100%;
  aspect-ratio: 16/9;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  background: var(--bg-color-secondary);
  height: 10vh;
  display: flex;
  align-items: center;
}

.nav-item {
  display: flex;
  margin: 0 1rem 0 1rem;
}

.nav-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  padding: 1vh 1rem 1vh 1rem;
  border-radius: 0.65rem;
}

.nav-item a:hover {
  background: var(--bg-color-primary);
}

.nav-item a.active {
  background: var(--bg-color-primary);
}

.nav-projects {
  position: relative;
  display: inline-block;
}

.nav-project {
  top: 103%;
  display: none;
  position: absolute;
  white-space: nowrap;
  padding: 0.5rem;
  border-radius: 1rem;
  border: var(--bg-color-primary);
  background: var(--bg-color-secondary);
}

.nav-projects:hover .nav-project {
  display: block;
  border-style: solid;
}

.project-icon {
  display: flex;
  position: relative;
}

.nav-about {
  display: flex;
  position: relative;
}

.nav-about .sm {
  display: flex;
  position: relative;
  bottom: -1px;
}

.nav-about .lg {
  display: flex;
  position: relative;
  bottom: -3px;
}

.nav-icon {
  display: flex;
  margin-left: auto;
}

/* .home {

} */

/* .project {

} */

/* .about {

} */

.CV {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fill);
  justify-content: center;
}

.glow-on-hover {
  z-index: 0;
  position: relative;
  outline: none;
  border-radius: 1rem;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  /* filter: blur(1px); */
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  -webkit-animation: glowing 25s linear infinite;
          animation: glowing 25s linear infinite;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  border-radius: 1rem;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

@-webkit-keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

@-webkit-keyframes Gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes Gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
